/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #121212;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
}

/* Container */
.container {
    max-width: 800px;
    width: 100%;
    background: #F0F0F0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-in-out;
}

/* Header */
header .profile {
    display: flex;
    align-items: center;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.info {
    flex-grow: 1;
}

.email {
    text-align: right;
    color: #555;
}

/* Sections */
section {
    margin-top: 40px;
}

h2 {
    font-size: 1.5rem;
    color: #333;
}

/* Profile paragraph */
.profile-section p {
    text-align: justify;
}

/* Lists */
ul {
    list-style-type: none;
    padding-left: 15px;
}

ul li {
    margin-bottom: 10px;
}

ul li strong {
    font-size: 1.1rem;
}

/* Thick & Thin Dividers */
.thick-divider {
    border: 0;
    height: 4px;
    background: #1E90FF;
    margin: 20px 0;
}

.thin-divider {
    border: 0;
    height: 2px;
    background: #1E90FF;
    margin: 20px 0;
}

/* Fade-in Effect */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
